name: Build EXE
on: push
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install MinGW
        run: choco install mingw -y
      - name: Compile
        run: gcc idmreset.c -o idmreset.exe -ladvapi32
      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: idmreset
          path: idmreset.exe
